

af|inputText:read-only::content {
    font-weight: bold;
    color:Black;
}

af|selectOneChoice:read-only::content {
    font-weight: bold;
    color:Black;
}

af|inputDate:read-only::content {
    font-weight: bold;
    color:Black;
}






